<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars API</title>
</head>
<body>
    <form action="/submit-list" method="POST">
        <label for="pet-select">See a random ...</label>
        <select name="list">
            <option value="">--Please choose an option--</option>
            <option value="World">World</option>
            <option value="Character">Character</option>
        </select>
        <button type="submit">Show me this list</button>
    </form>
</body>
</html>